<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
    <div class="col  -3">

    </div>
    <div class="col   ">
        <h2>Sucursales</h2>
        <div class="card" *ngFor="let sucursal of lisSucursales" style="width:30rem;">

            <div class="card-body">
                <a href="FS/products/{{sucursal.nombreClave}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> Nombre: {{sucursal.nombreClave}}</h5>
                        <small class="text-muted">Telefono: {{sucursal.telefono}}</small>
                    </div>
                    <p class="mb-1">Direccion: {{sucursal.direccion}}</p>

                </a>
            </div>
        </div>

    </div>
    <div class="col  -3">

    </div>
</div>