
<div id="user">
    <img id="avatar" src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light'">

<i class="fa fa-gear"></i>

<div id="main">
        <h3>{{Usuarios.entidad.nombre}}</h3>
        <p>{{Usuarios.usuario}}</p>
</div>

<div id="level">
    <p>{{Usuarios.entidad.correo}}</p>
</div>

<div id="information">
    <div id="stats">
        
        
        <div>
            <h4>Telefono</h4>
            <p>{{Usuarios.entidad.telefono}}</p>
        </div>
    </div>
    
    <p id="description">
        {{Usuarios.entidad.direccion}}
    </p>
    
    <div id="actions">
        <button (click)="comprar()" ><i class="fa fa-heart-o"></i> Comprar</button>
        <button (click)="MisPedidos()"><i class="fa fa-envelope"></i> Mis Pedidos</button>
    </div> 
</div>
</div>