<div class="row }">

  <div class="col col-md-2">
    <div class="list-group">
      <h3 class="text-center"> Categorias </h3>
      <a href="/FS/products/{{nombreSucursal}}/{{category.nombre}}" *ngFor="let category of listaCategoria"
        class="list-group-item list-group-item-action">{{category.nombre}}</a>
    </div>
  </div>
  <div class="col col-md-8">
    <div class="container">
      <div class="row">
        <h3 class="text-center"> Productos </h3>
        <ng-container *ngFor="let producto of lisProductos">
            <div class="card col-4-" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title" class="text-center">{{producto.producto.nombre}}</h2>
                <p class="card-text" class="text-center">{{producto.producto.descripcion}}</p>
                <p class="card-text" class="text-center">Precio: {{producto.producto.precio}}</p>
                <button type="submit" (click)="cargarProductos(producto)" class="btn btn-primarycenter" class="btn btn-primary">Agregar</button>
              </div>
            </div>
         
        </ng-container>
      </div>
      
    </div>
   

  </div>
   
  <div class="col col-md-2 ">

  </div>
</div>