
<div class="row ">
    <div class="col-2 ">
        
    </div>
    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th>Numero Pedido</th>
                    <th>Estado</th>
                    <th>Costo</th>
                   
                    <th>Ubicacion</th>
                    <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of todosPedidosa">
                <td>{{el.id}}</td>
                    <td>{{el.estado}}</td>
                   
                    <td>{{el.costoEnvio}}</td>
                    <td>{{el.direccion}}</td>
                    <td>$ {{el.total}}</td>
              </tr>
              
            </tbody>
          </table>
    </div>
    <div class="col-2 ">
        
    </div>
</div>
