
<div class="login-box">
    <h2>Registrarse</h2>
    <form (ngSubmit)="crearUsuario()">
      <div class="user-box">
        <input type="text"  [(ngModel)]="registro.cedula"   name="cedula" id="cedula" required="">
        <label>Cedula</label>
      </div>
      <div class="user-box">
        <input type="text"  [(ngModel)]="registro.usuario"  name="usuario" id="usuario" required="">
        <label>Usuario</label>
      </div>
      <div class="user-box">
        <input type="password" [(ngModel)]="registro.contrasenia"  name="contrasenia" id="contrasenia" required="">
        <label>Password</label>
      </div>
    
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        
        <button type="submit" class="btn btn-primary">Crear Cuenta</button>
        <button type="button" routerLink="/" class="btn btn-secondary">Regresar</button>
    </form>
  </div>